<!-- <input type="text" #name value="Deepak" >
<button (click)="onclick(name)">CLICK</button><br>

<input type="text" [(ngModel)]="text">
{{text}}

<div class="container">
    <div *ngIf = "products.length>1" >
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Spec</th>
                    <th>Images</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of products" >
                    <td scope="row">{{x.name}}</td>
                    <td>{{x.price}}</td>
                    <td>{{x.spec}}</td>
                    <td><img [src]="x.img"></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div *ngIf= "products.length==1" >
        <h1>NoData!!!!!!!!!!</h1>
    </div>
</div>
<div>
    <button  (click)="status='online'">click1</button>
    <button  (click)="status='offline'">click2</button>
    <div [ngSwitch]="status">
        <div *ngSwitchCase ="'online'">
            <h1><span class="badge bg-primary">Online</span></h1>
        </div>
    
        <div *ngSwitchCase ="'offline'">
            <h1><span class="badge bg-danger">Offline</span></h1>
        </div>
    </div>
</div> -->
<!-- <app-second></app-second>
<app-main1></app-main1> -->
<app-main-file></app-main-file>